<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Non-interactive message statistics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
</head>
<body>

<header class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row">
    <div><span class="navbar-brand">Non-interactive API statistics</span>
    </div>
</header>
<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
    <span th:text="${errorMessage}"/>
</div>
<div class="container-fluid">
    <div class="row">
        <form th:action="@{/stats}">
            <div class="form-group">
                <label for="from">From: </label>
                <input type="text" class="form-control" id="from" placeholder="yyyy-mm-dd" name="from"/>
            </div>
            <div class="form-group">
                <label for="to">To: </label>
                <input type="text" class="form-control" id="to" placeholder="yyyy-mm-dd" name="to"/>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-left">Carrier</th>
                <th>Messages</th>
                <th>Average Passengers</th>
                <th>Received before STD</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="carrier: ${carrierStats}">
                <th class="text-left" th:text="${carrier.carrier}">Carrier 1</th>
                <td class="text-right" th:text="${carrier.messageCount}">12</td>
                <td class="text-right" th:text="${carrier.passengerCount}">7</td>
                <td class="text-right" th:text="${carrier.minutesBeforeSTD}">54</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
